<br>
<br>
<br>

<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <app-input formControlName='name' [appearance]="'legacy'" [label]="'Name'" [required]="'required'"></app-input>
  <div *ngIf="name?.invalid && name?.touched" class="alert-danger">{{nameErrorMessage}}</div>

  <!-- <span *ngIf="name?.invalid && name?.touched" class="alert-danger">
    test
  </span> -->
  <br>
  <app-input formControlName='email' [label]="'email'" [placeholder]="'example@xyz.com'" [appearance]="'legacy'"
    [icon]="'email'" [required]="'required'" [type]="'email'"></app-input>
  <div *ngIf="email?.touched && email?.invalid" class="alert-danger">
    {{emailErrorMessage}}
  </div>
  <br>
  <app-button [type]="'submit'" [disabled]="!form.valid"></app-button>

</form>

{{form.get('name')?.touched}}
{{form.get('email')?.touched}}

<!-- {{form.value|json}} -->